main {
  padding-left: 2%;
  padding-right: 2%;
}

.leaflet-container {
  //width: 1440px;
  height: 780px;
}

.spinner {
  border: 3px solid #4e4f51;
  border-top: 3px solid #323335;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  margin: auto auto auto auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination > li > a,
.pagination > li > span {
  background-color: #375a7f;
}

.pagination > li.page-item.active > a,
.pagination > li.page-item.active > span,
.pagination > li.page-item.disabled > a,
.pagination > li.page-item.disabled > span,
.pagination > li.page-item:hover > a,
.pagination > li.page-item:hover > span {
  background-color: #28415b;
}
